<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ngb-accordion [closeOthers]="true">
    <ngb-panel id="static-1">
      <ng-template ngbPanelTitle>
        <span>What is Hikma360?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Hikma360 is an information app for halal and non-halal consumers. We do that with the following features:
        <ion-list>
          <ion-item>
            A "search halal" feature allows you to check if a food item, product or ingredient is halal or not.
          </ion-item>

          <ion-item>
            A "favourites store" feature that shows you the most desirable grocery stores to purchase a specified food item, over a period of time, based on information entered by you that is analyzed by our algorithm.
          </ion-item>

          <ion-item>
            A closest halal "restaurant/grocery store" feature that shows you the closest halal restaurants/grocery
            stores to you. We currently only offer this feature for those in the GTA.
          </ion-item>

          <ion-item>
            A "list of certifying bodies" feature that shows you the list of halal certification bodies in Canada and
            information on their certifying standards as well as the brands they've certified!
          </ion-item>

          <ion-item>
            Finally, we provide information on the Halal dietary guidelines in our "Halal 101" feature that clarifies
            misconceptions about halal.
          </ion-item>
        </ion-list>

      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-2">
      <ng-template ngbPanelTitle>
        <span>Do I need to create an account?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        Creating an account is necessary, especially if you intend on using the favourites feature.
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-3">
      <ng-template ngbPanelTitle>
        <span>How do I use the favourites feature?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        To use the favourites feature, you must create an account. After this, you can add a grocery store that you have visited by clicking the add button at the bottom right of the screen. Add in the items you purchased and fill out the requirements. For this feature to work, you must enter multiple grocery stores.
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-4">
      <ng-template ngbPanelTitle>
        <span>How do I contact support?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        You can contact support through the email link provided: <a href="mailto:Hikma360@gmail.com?" target="_top">Send Mail</a>
      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-5">
      <ng-template ngbPanelTitle>
        <span>How do I leave feedback?</span>
      </ng-template>
      <ng-template ngbPanelContent>
        You can leave feedback by sending an email to: <a href="mailto:Hikma360@gmail.com?" target="_top">Hikma360@gmail.com</a>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</ion-content>