<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Grocery Stores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>We currently only display grocery stores based in the Greater Toronto Area (GTA). Users outside the GTA would only be able to see the distance from their location to the closest grocery store in the GTA<p>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-select  [(ngModel)]="option" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Category">
            <ion-select-option value="name">Name</ion-select-option>
            <ion-select-option value="rating">Rating</ion-select-option>
            <ion-select-option value="storeType">Store Type</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-input attribute="search" clearInput [(ngModel)]="searchGroceryStores" placeholder="Search"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button size="small" Expand="block" (click)="searchList()">
          Search
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="!storeList || storeList.length == 0">
    <ion-list>
      <div *ngFor="let n of [0,1,2,3,4,5]" padding>
        <ion-skeleton-text animated></ion-skeleton-text>
        <p>
          <ion-skeleton-text animated style="width: 58%"></ion-skeleton-text>
        </p>
      </div>
    </ion-list>
  </ng-container>

  <ion-list>
    <ion-item button *ngFor="let groceryStores of storeList" [routerLink]="['/grocery-store-details', groceryStores.id]">
      <ion-label>{{ groceryStores.Name }}
        <p>{{ groceryStores.distance }} km</p>
        <p><strong>Address: </strong>{{ groceryStores.Address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadStoresData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more grocery stores...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>