<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Grocery Stores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let groceryStores of groceryStores" [routerLink]="['/grocery-store-details', groceryStores.id]">
      <ion-label>{{ groceryStores.Name }}
        <p>{{ groceryStores.distance }} km</p>
        <p>{{ groceryStores.Address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>