<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Tenets of Halal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-slides pager="true" id="slidename">
    <ion-slide class="ion-padding"> 
     
      <h2>Preamble</h2>
      <p>
        <b>Halal</b> - permitted; <b>haram</b> – prohibited; <b>makrooh</b> –
        questionable to detestable.
      </p>
      <p>
        Halal food is based on Islamic dietary law derived from the Quran,
        Hadith (the practices of the Prophet Mohammad), Ijma (a consensus of
        legal opinion), and Qiyas (reasoning by analogy) (Regenstein, Chaudry &
        Regenstein, 2003; Adekunle, 2019):
      </p>
      <ul>
        <li>Prohibition of animals</li>
        <li>Prohibition of blood</li>
        <li>Method of slaughtering/blessing</li>
        <li>Prohibition of carrion</li>
        <li>Prohibition of intoxicants</li>

      </ul>
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <img src="https://img.icons8.com/carbon-copy/100/000000/slide-left-on-a-row.png"/>
      <p style="text-align:center">Swipe for more</p>
 
    </ion-slide>

    <ion-slide padding>
      <p>
        According to the Quran, all things created by Allah are permissible
        <b>EXCEPT</b> pork, blood, meat of animals that died of causes other
        than proper slaughtering, food that has been dedicated or immolated to
        someone other than Allah, alcohol, intoxicants, and inappropriately used
        drugs (Quran II:172; Quran II:168; Quran XX:81). </p>
      <p> Healthy eating is also a very important part of halal laws. Specifically prohibited items are:</p>
      <ol>
        <li>Carrion, blood and swine flesh.</li>
        <li>Food dedicated unto any other than Allah (God).</li>
        <li>Strangled animals.</li>
        <li>Dead animals through beating.</li>
        <li>The dead through falling from height.</li>
        <li>Killed by goring of horns.</li>
        <li>Devoured by wild beasts except made lawful by scholars/blessing.</li>
        <li>Food immolated to idols.</li>
        <li>1-8 (Quran V:3)</li>
        <li>Inappropriately used drugs (Regenstein, Chaudry & Regenstein, 2003; Adekunle, 2019).</li>
      </ol>
    </ion-slide>

    <ion-slide>
      <p>There are 11 generally accepted principles (as presented by Regenstein,Chaudry & Regenstein, 2003):</p>

      <ol>
        <li>
          All things created by Allah are permitted with a few exceptions.
        </li>
        <li>To make lawful and unlawful is the prerogative of almighty God.</li>
        <li>
          Prohibiting what is permissible or permitting what is prohibited is
          like putting others at the same level with God.
        </li>
        <li>
          Impurities and harmfulness are the basic reasons for prohibition.
        </li>
        <li>
          The permitted foods are enough for nutritious and healthy living.
        </li>
        <li>Prohibition is because it is not appropriate.</li>
        <li>
          The representation of unlawful as lawful is prohibited no matter the
          justification.
        </li>
        <li>Good intentions will never make haram to be halal.</li>
        <li>Doubtful (questionable to detestable) food should be avoided.</li>
        <li>
          The laws are universally applicable to all races, sexes and creeds. No
          discrimination whatsoever.
        </li>
        <li>
          Finally, necessity allows exceptions. Prohibited foods can ensure
          survival - in other words, they can be consumed only when it is a "do
          or die" affair.
        </li>
      </ol>
    </ion-slide>

    <ion-slide>
      <h2>Understanding Halal by ECVOntario</h2>
      <div>
          <div *ngIf="!platform.is('ios')">
              <embed width="420" height="315" src="https://www.youtube.com/embed/YGgJm16o-5M">
          </div>

          <div *ngIf="platform.is('ios')">
               <a href = "https://youtu.be/YGgJm16o-5M">
                   <ion-card>
                       <img src="assets/img/IMG_8709.jpg"/>
                    </ion-card>
                </a>
          </div>

      </div>
      

    
    </ion-slide>
  </ion-slides>




</ion-content>