<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add a Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
  
  <ion-list class="line-input">
    <form [formGroup]="storeForm">

      <ion-item>
        <ion-label position="stacked">Store Name</ion-label>
        <ion-input [class.invalid]="!storeForm.controls.Name.valid  && (storeForm.controls.Name.dirty || submitAttempt)"
          formControlName="Name" type="text" [(ngModel)]="store.Name"></ion-input>
      </ion-item>
      <p *ngIf="!storeForm.controls.Name.valid  && (storeForm.controls.Name.dirty || submitAttempt)">Please enter a valid name.</p>

      <ion-item>
        <ion-label position="stacked">Item Purchased</ion-label>
        <ion-input formControlName="ItemPurchased" [(ngModel)]="favourites.itemPurchased" readonly="true" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Price/unit</ion-label>
        <ion-input formControlName="pricePerUnit" [(ngModel)]="store.pricePerUnit" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date Purchased</ion-label>
        <ion-label>MM DD YY</ion-label>
        <ion-datetime formControlName="datePurchased" [(ngModel)]="store.datePurchased" type="date" displayFormat="YYYY MM DD" placeholder="Select Date">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Quality Rating</ion-label>
        <ion-range min="0" snaps="true" max="5" pin="true" formControlName="quality" [(ngModel)]="store.quality">
          <ion-icon color="danger" slot="start" name="thumbs-down"></ion-icon>
          <ion-icon color="success" slot="end" name="thumbs-up"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Customer Service Rating</ion-label>
        <ion-range min="0" snaps="true" max="5" pin="true" formControlName="customerService" [(ngModel)]="store.customerService">
          <ion-icon color="danger" slot="start" name="sad"></ion-icon>
          <ion-icon color="success" slot="end" name="happy"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Price Rating</ion-label>
        <ion-range min="0" snaps="true" max="5" pin="true" formControlName="priceRating" [(ngModel)]="store.priceRating">
          <ion-icon color="danger" slot="start" name="thumbs-down"></ion-icon>
          <ion-icon color="success" slot="end" name="thumbs-up"></ion-icon>
        </ion-range>
      </ion-item>

    </form>
  </ion-list>
</ion-content>

<ng-container *ngIf="isUpdatingStore; else addStoreTemplate">
  <ion-footer>
    <ion-row class="ion-no-padding" text-center>
      <ion-col size="6">
        <ion-button expand="block" strong="true" fill="outline" color="danger" (click)="deleteStore()">
          <ion-icon name="trash" slot="start"></ion-icon>
          Delete
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" fill="solid" strong="true" color="dark" (click)="updateStore()">
          <ion-icon name="save" slot="start"></ion-icon>
          Update
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ng-container>
<ng-template #addStoreTemplate>
  <ion-footer class="ion-padding">
    <ion-button expand="block" fill="solid" strong="true" color="secondary" (click)="addStore()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add Store
    </ion-button>
  </ion-footer>
</ng-template>