<ion-content>
   
        <img src="assets/img/logo_transparent.png" class="center"/>
        <ion-header *ngIf="!hasVerifiedEmail" padding class="verify-email">
          <p style="color:red">Please check your email and verify your account</p>
        </ion-header>
      

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <ion-item>
                  <ion-input name="email" type="email" placeholder="Email Address" formControlName="username" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input name="password" type="password" placeholder="Password" formControlName="userpassword" required></ion-input>
                </ion-item>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="buttons" padding>
            <ion-col size="12">
              <ion-button class="block" (click)="login()">Login</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="block" routerLink="/menu/home">Homepage</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="block" routerLink="/register">Register</ion-button>
            </ion-col>
             <ion-col> 
              <p style="color:white; text-align:center" routerLink="/recover">Forgot Password?</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      
</ion-content>
