ion-content{
  --background :linear-gradient(#141414 30%,#000000);
}

ion-item{
  --background: none;
  --color: #fff;
}

// ion-button{
//   --background: #b8a95e;
// }

ion-card{
  position: relative;
  width: 347px;
  height: 347px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 50%;
}

a{
  color: #fff;
  
}

.buttons{
  margin-left: 15px;
}

.block {
  display: block;
  width: 100%;
  text-align: center;
}

