<ion-header>
  <ion-toolbar color="success">
    <ion-title>Add an Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>Add a food item you would like to keep track of. e.g <i>Chicken, Fish</i></p>

  <ion-item>
    <ion-label position="floating">Item add</ion-label>
    <ion-input [(ngModel)]="favourite.itemPurchased"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="block" color="primary" shape="round" fill="outline" (click)="closeModal()">
          Cancel
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!passedId">
        <ion-button class="block" shape="round" (click)="addItem()">
          Add
        </ion-button>
      </ion-col>
      <ion-col *ngIf="passedId">
        <ion-button class="block" shape="round" (click)="updateItems()">
          Update
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>