<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngFor="let p of pages">
      <!--standad menu item-->
      <ion-menu-toggle *ngIf="p.url">
        <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
          <ion-icon [name]="p.icon" slot="start"></ion-icon>
          <ion-label>
            {{ p.title }}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </div>
    <ion-item *ngIf="authState==true" button (click)="logout()">
      <ion-icon name="log-out" slot="start"></ion-icon>
      Logout
    </ion-item>

    <ion-item  button *ngIf="authState==false" routerLink="/login" >
        <ion-icon name="log-in" slot="start"></ion-icon>
        Login
      </ion-item>

  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>