--<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button routerLink="/menu/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Halal Certification</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>-->
    <ion-tabs>
 
        <ion-tab-bar slot="bottom" color ="success">
       
          <ion-tab-button tab="halal-certification"> 
            <ion-icon name="book"></ion-icon>
            <ion-label id="labeltext">Certifying bodies</ion-label>
          </ion-tab-button>
       
          <ion-tab-button tab="halal-organization" >
            <ion-icon name="briefcase"></ion-icon>
            <ion-label id="labeltext">Certified Organizations</ion-label>
          </ion-tab-button>
          
       
        </ion-tab-bar>
       
      </ion-tabs>

<!--</ion-content>-->
