<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button routerLink="/tabs/halal-certification"></ion-back-button>
        </ion-buttons>
    <ion-title>Certifying Bodies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<div class ="card">
    <h4 style="text-align:center;">{{ certifyingbodies.Organisation }}</h4>
    <p *ngIf=certifyingbodies.Address><b>Address: </b>{{ certifyingbodies.Address }}</p>
    <p *ngIf=certifyingbodies.Telephone><b>Phone: </b>{{ certifyingbodies.Telephone }}</p>
    <p *ngIf=certifyingbodies.Email><b>Email: </b>{{ certifyingbodies.Email }}</p>
    <p *ngIf=certifyingbodies.Slaughter><b>Slaughter Method: </b> {{ certifyingbodies.Slaughter }}</p>
    <p *ngIf=certifyingbodies.StatedConditions><b>Stated Conditions: </b>{{ certifyingbodies.StatedConditions }}</p>
    <p *ngIf=certifyingbodies.Others><b>Others: </b>{{ certifyingbodies.Others }} </p>
    <a *ngIf="certifyingbodies.Website" (click)="openWebsite()">Visit the Website</a>
</div>
</ion-content>
