<ion-header>
  <ion-toolbar color="dark">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showcancelbutton="" (ionChange)="filterList($event)"></ion-searchbar>

  <ion-list>


    <ng-container *ngIf="!certifyingorganizations || certifyingorganizations.length == 0">
      <div *ngFor="let n of [0,1,2,3,4,5]" class="ion-padding">
        <ion-skeleton-text animated></ion-skeleton-text>
        <p>
          <ion-skeleton-text animated style="width: 58%"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

    <ion-item button *ngFor="let certifyingorganization of certifyingorganizations"
      [routerLink]="['/organizations-details', certifyingorganization.id]">
      <ion-label>
        {{ certifyingorganization.OrganisationsCertified}}
        <p><b>Address: </b>{{ certifyingorganization.Address }}</p>
        <p><b>Certifying Body: </b> {{ certifyingorganization.CertifyingBody }}</p>
      </ion-label>

    </ion-item>

  </ion-list>

</ion-content>