<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/grocery-stores"></ion-back-button>
    </ion-buttons>
    <ion-title>Store Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="details">
    <ion-card color="light">
      <ion-icon name="basket"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>{{groceryStore.SubRegions}}, {{groceryStore.Region}}</ion-card-subtitle>
        <ion-card-title>{{groceryStore.Name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="groceryStore.Address"><strong>Address: </strong> <a href="https://google.ca/maps/place/{{groceryStore.Address}}">{{groceryStore.Address}}</a></p>
        <p *ngIf="groceryStore.PhoneNumber"><strong>Telephone: </strong>{{groceryStore.PhoneNumber}}</p>
        <p *ngIf="groceryStore.HoursofOperation"><strong>Hours of Operation: </strong>{{groceryStore.HoursofOperation}}</p>
        <p *ngIf="groceryStore.CertifedBy"> <strong>Certified By: </strong>{{groceryStore.CertifedBy}}</p>
        <p *ngIf="groceryStore.StoreType"><strong>Store Type: </strong>{{groceryStore.StoreType}}</p>
        <p *ngIf="groceryStore.Rating">
          <ngb-rating [(rate)]="groceryStore.Rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
        </p>
        <a href="" *ngIf="groceryStore.Website" (click)="openWebsite()">Visit the Website</a>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#8902;</span>&#8902;
    </span>
  </ng-template>
</ion-content>