<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let restaurant of places" [routerLink]="['/restaurant-details', restaurant.id]">
      <ion-label>{{ restaurant.Name }}
        <p>{{ restaurant.distance }} km</p>
        <p>{{ restaurant.Address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>