<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/favourites"></ion-back-button>
    </ion-buttons>
    <ion-title>{{favourites.itemPurchased}} Stores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list lines="full">
    <ion-item button *ngFor="let store of favourites.Store; let i = index"
      [routerLink]="['/add-store', favourites.id, i]">
      <ion-icon *ngIf="i === 0" class="Best" slot="start" name="star"></ion-icon> 
      <ion-icon *ngIf="i === 1" class="SecondBest" slot="start" name="star"></ion-icon> 
      <ion-icon *ngIf="i === 2" class="ThirdBest" slot="start" name="star"></ion-icon> 
      <ion-label>{{ store.Name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/add-store', favourites.id]">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div><i>Add the stores you've purchased this item and we'll arrange your entry based on your desirability</i></div>
</ion-content>