<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurant Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="details">
    <ion-card color="light">
      <ion-icon name="restaurant"></ion-icon>
      <ion-card-header>
        <ion-card-subtitle>{{restaurants.SubRegions}}, {{restaurants.Region}}</ion-card-subtitle>
        <ion-card-title>{{restaurants.Name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- <h4 style="text-align:center;"></h4> -->
      <p  *ngIf="restaurants.Address"> <strong> Address: </strong> <a href="https://google.ca/maps/place/{{restaurants.Address}}"> {{restaurants.Address}}</a></p>
      <!-- <p><strong>City: </strong> </p> -->
      <p *ngIf="restaurants.PhoneNumber"><strong>Telephone: </strong> {{restaurants.PhoneNumber}}</p>
      <p *ngIf="restaurants.HoursOfOperation"><strong>Hours of Operation: </strong> {{restaurants.HoursOfOperation}}</p>
      <p *ngIf="restaurants.CertifedBy"><strong>Certified By: </strong> {{restaurants.CertifedBy}}</p>
      <p *ngIf="restaurants.CuisneType"><strong>Cuisine Type: </strong> {{restaurants.CuisneType}}</p>
      <p *ngIf="restaurants.PriceRange"><strong>Price Range: </strong> {{restaurants.PriceRange}}</p>
      <p *ngIf="restaurants.Rating"><ngb-rating [(rate)]="restaurants.Rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating></p>
      <a href="" *ngIf="restaurants.Website" (click)="openWebsite()">Visit the Website</a>
      </ion-card-content>
      
    </ion-card>
  </div>

  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#8902;</span>&#8902;
    </span>
  </ng-template>
  
</ion-content>
