<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurant Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="details">
      <h2>{{restaurants.Name}}</h2>
      <p>Address: <a href="https://google.ca/maps/place/{{restaurants.Address}}"> {{restaurants.Address}}</a></p>
      <p>City: {{restaurants.SubRegions}}, {{restaurants.Region}}</p>
      <p>Call: {{restaurants.PhoneNumber}}</p>
      <p>Hours of Operation: {{restaurants.HoursOfOperation}}</p>
      <p *ngIf="restaurants.CertifedBy">Certified By: {{restaurants.CertifedBy}}</p>
      <p>Cuisine Type: {{restaurants.CuisneType}}</p>
      <p>Price Range: {{restaurants.PriceRange}}</p>
      <p>Rating: <ngb-rating [(rate)]="restaurants.Rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating> {{restaurants.Rating}} </p>
      <a *ngIf="restaurants.Website" (click)="openWebsite()">Visit the Website</a>
  </div>

  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#8902;</span>&#8902;
    </span>
  </ng-template>
  
</ion-content>
