<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurant Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
     <ion-icon name="restaurant"></ion-icon>
  <div class="card">
      <h4 style="text-align:center;">{{restaurants.Name}}</h4>
      <p><strong> Address: </strong> <a href="https://google.ca/maps/place/{{restaurants.Address}}"> {{restaurants.Address}}</a></p>
      <p><strong>City: </strong> {{restaurants.SubRegions}}, {{restaurants.Region}}</p>
      <p><strong>Telephone: </strong> {{restaurants.PhoneNumber}}</p>
      <p><strong>Hours of Operation: </strong> {{restaurants.HoursOfOperation}}</p>
      <p *ngIf="restaurants.CertifedBy"><strong>Certified By: </strong> {{restaurants.CertifedBy}}</p>
      <p><strong>Cuisine Type: </strong> {{restaurants.CuisneType}}</p>
      <p><strong>Price Range: </strong> {{restaurants.PriceRange}}</p>
      <p><ngb-rating [(rate)]="restaurants.Rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating> {{restaurants.Rating}} </p>
      <a *ngIf="restaurants.Website" (click)="openWebsite()">Visit the Website</a>
  </div>

  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#8902;</span>&#8902;
    </span>
  </ng-template>
  
</ion-content>
