<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
      <ion-item button *ngFor="let item of favesLoggedIn" [routerLink]="['/favourite-store', item.id]">
        <ion-label>{{item.itemPurchased}}</ion-label>
      </ion-item>
  </ion-list>
  

  <div><i> Click on the '+' icon to begin adding items</i></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addItemModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>