.searchCamera{
    height: 60px;
    width: 40px;
    color: #203305c0;
}

.textCamera{
    display: inline-block;
    color: rgba(128, 128, 128, 0.747);
    position: relative;
    top: 10px;
    height: 30px;
    width: 25px;
}