<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Halal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p class="ion-padding">Search for a food item (animal or plants) or ingredient to determine if it's halal or not. <br>
    You can also click on the <ion-icon class="textCamera" name="camera"></ion-icon> to scan a food product's ingredient
    list. </p>

  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar #searchbar lowercase [(ngModel)]="searchTerm" (search)="newSearch()" autocomplete="on"
          spellcheck="true" showCancelButton="focus"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="selectSource()" class="searchCamera" name="camera" size="large"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="halalCheck w3-animate-zoom" *ngIf="result$ | async as result">
      <ng-container *ngIf="!result?.nonHalal">
        <p>We didn't find any non-halal ingredients in your list, this product can be considered halal.</p>
      </ng-container>
      <ng-container *ngIf="result?.arrNonHalal">
        <p>This item is not halal because it contains:</p>
        <!-- <ion-chip color="danger" *ngFor='let result of (result$ | async)?.arrNonHalal'> -->
        <ion-chip color="danger" *ngFor='let res of result?.arrNonHalal'>
          <ion-label>{{ res }}</ion-label>
        </ion-chip>
      </ng-container>
    </div>

    <div class="croppingSection" *ngIf="hideCropping">
      <ion-row>
        <ion-col size="12">
          <image-cropper [imageBase64]="image" [maintainAspectRatio]="true" [aspectRatio]="6/3" format="jpg"
            outputType="base64">
          </image-cropper>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="image">
        <ion-col size="6">
          <ion-button strong="true" expand="block" color="dark" fill="outline" (click)="cancelCropping()">Close</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button strong="true" expand="block" color="warning" (click)="startUpload()">Scan</ion-button>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>