<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button routerLink="/tabs/halal-organization"></ion-back-button>
        </ion-buttons>
    <ion-title>Certified Organizations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="card">
      <h4 style="text-align:center;">{{ certifyingorganization.OrganisationsCertified}}</h4>
      <p *ngIf=certifyingorganization.Brands><b>Brands: </b>{{ certifyingorganization.Brands }}</p>
      <p><b>Address: </b>{{ certifyingorganization.Address }}</p>
      <p><b>City: </b>{{ certifyingorganization.City }}</p>
      <p *ngIf=certifyingorganization.EmailAddress><b>Email: </b>{{ certifyingorganization.EmailAddress }}</p>
      <p *ngIf=certifyingorganization.CertifyingBody><b>Certifying Body: </b> {{ certifyingorganization.CertifyingBody }}</p>
      <p *ngIf=certifyingorganization.OutletType><b>Outlet Type: </b>{{ certifyingorganization.OutletType }}</p>
      <p *ngIf=certifyingorganization.Products><b>Products: </b>{{ certifyingorganization.Products }}</p>
      <p><b>Telephone: </b>{{ certifyingorganization.Telephone }}</p>
      <a *ngIf="certifyingorganization.Website" (click)="openWebsite()">Visit the Website</a>
  </div>


</ion-content>
