<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="card-background-page" color="success">


  <ion-card>
    <img src="assets/img/restaurant.jpg"/>
    <div class="card-title">Restaurant</div>
    <div class="card-subtitle">Go</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/groceries.jpg"/>
    <div class="card-title">Groceries</div>
    <div class="card-subtitle">Go</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/halal101.jpg"/>
    <div class="card-title">Halal 101</div>
    <div class="card-subtitle">Go</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/halal.png"/>
    <div class="card-title">Halal Bodies</div>
    <div class="card-subtitle">Go</div>
  </ion-card>

<ion-button routerLink="/login">Back</ion-button>

</ion-content>
