<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="card-background-page">


  <ion-card>
    <img src="assets/img/restaurant.jpg"/>
    <div class="card-title">Restaurant</div>
    <div class="card-subtitle">Go</div>
  </ion-card>

  <ion-card>
    <img src="assets/img/groceries.jpg"/>
    <div class="card-title">Groceries</div>
    <div class="card-subtitle">Go</div>
  </ion-card>

  <ion-card routerLink="/tenets">
    <img src="assets/img/halal101.jpg"/>
    <div class="card-title">Halal 101</div>
    <div class="card-subtitle">Go</div>
  </ion-card>

  <ion-card routerLink="/halal-certification">
    <img src="assets/img/certificate.png"/>
    <div class="card-title">Halal Certification</div>
    <div class="card-subtitle">Go</div>
  </ion-card>

  
<!--<ion-button routerLink="/login">Back</ion-button>-->
</ion-content>
