<!-- <ion-header>
  <ion-toolbar color="success">
    <ion-title>Create You Account</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
    <!-- <ion-card> -->
        <img src="assets/img/logo_transparent.png"/>
      <!-- </ion-card> -->

      <form [formGroup]="registrationForm" (ngSubmit)="register()">
        <ion-grid fixed>
         
        

        <ion-row>
          <ion-col size="10" offset="1">
            <ion-item>
              <ion-input  name="username" type="text" placeholder="Name" formControlName="username" required></ion-input>
            </ion-item>
            <p style="color: red; padding-top: 0.2rem" *ngIf="registrationForm.controls.username.errors && registrationForm.controls.username.dirty">Please enter a username</p>
          </ion-col>
         
          <ion-col size="10" offset="1">
            <ion-item>
              <ion-input name="Useremail" type="email" placeholder="Email Address" formControlName="useremail" required></ion-input>
            </ion-item>
            <p style="color: red; padding-top: 0.2rem" *ngIf="registrationForm.controls.useremail.errors && registrationForm.controls.useremail.dirty">Please enter a valid email address</p>
          </ion-col>
       
          <ion-col size="10" offset="1">
            <ion-item>
              <ion-input name="Password" type="password" placeholder="Password" formControlName="userpassword" required></ion-input>
            </ion-item>
            <p style="color: red; padding-top: 0.2rem" *ngIf="registrationForm.controls.userpassword.errors && registrationForm.controls.userpassword.dirty">Password must have uppercase letters, lowercase letters and numbers</p>
          </ion-col>
          
          <ion-col size="10" offset="1">
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Confirm Password" formControlName="confirmpassword" required></ion-input>
            </ion-item>
          </ion-col>

         <ion-col size="11" offset="1">
          <!---- <p style="color:white" routerLink="/register-terms">Read Terms and Conditions</p>-->
           <ion-item>
             I accept the
            <ion-label item-right>Terms&Conditions</ion-label>
            <ion-checkbox formControlName="cbox" required></ion-checkbox>
           </ion-item>
         </ion-col>
        
         <ion-col size="11" offest="1">
         <p style="color:white; text-align:center" routerLink="/register-terms"><u>Read Terms and Conditions</u></p>
         </ion-col>

          <ion-col size="10" offset="1">
            <ion-button [disabled]="!registrationForm.valid" expand="block" (click)="register()">Register</ion-button>
          </ion-col>
          
          <ion-col>
             
              <p style="color:white; text-align:center" routerLink="/login">Back to Login</p>
          </ion-col>

        </ion-row>
      </ion-grid>
      </form>
      
</ion-content>